Create a Python connection with SQL database and retrieve the results of the last two queries (also mentioned below) as dataframes:

Check the number of rentals for each customer for May

Check the number of rentals for each customer for June

Hint: You can store the results from the two queries in two separate dataframes.

In [3]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd

In [4]:
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [5]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)

In [6]:
query_may = "SELECT CUSTOMER_ID, COUNT(RENTAL_ID) AS RENTAL_COUNT FROM SAKILA.RENTALS_MAY GROUP BY CUSTOMER_ID ORDER BY RENTAL_COUNT DESC"
df_may = pd.read_sql_query(query_may, engine)

# Execute the second query and store the result in a dataframe
query_june = "SELECT CUSTOMER_ID, COUNT(RENTAL_ID) AS RENTAL_COUNT FROM SAKILA.RENTALS_JUNE GROUP BY CUSTOMER_ID ORDER BY RENTAL_COUNT DESC"
df_june = pd.read_sql_query(query_june, engine)



df_may

     CUSTOMER_ID  RENTAL_COUNT
0            197             8
1            506             7
2            109             7
3            269             6
4            239             6
..           ...           ...
515          431             1
516          351             1
517           10             1
518          136             1
519           61             1

[520 rows x 2 columns]

In [7]:
df_may

     CUSTOMER_ID  RENTAL_COUNT
0            197             8
1            506             7
2            109             7
3            269             6
4            239             6
..           ...           ...
515          431             1
516          351             1
517           10             1
518          136             1
519           61             1

[520 rows x 2 columns]

Write a function that checks if customer borrowed more or less films in the month of June as compared to May.

Hint: For this part, you can create a join between the two dataframes created before, using the merge function available for pandas dataframes. Here is a link to the documentation for the merge function.

In [8]:
def compare_rentals(df_may, df_june, customer_id):

    may_rentals = df_may[df_may['CUSTOMER_ID'] == customer_id]['RENTAL_COUNT'].values
    june_rentals = df_june[df_june['CUSTOMER_ID'] == customer_id]['RENTAL_COUNT'].values

    if len(may_rentals) > 0 and len(june_rentals) > 0:
        if may_rentals[0] < june_rentals[0]:
            return "Customer borrowed more films in June compared to May"
        elif may_rentals[0] > june_rentals[0]:
            return "Customer borrowed fewer films in June compared to May"
        else:
            return "Customer borrowed the same number of films in May and June"
    else:
        return "Customer ID not found in one or both datasets"

Customer borrowed more films in June compared to May

In [16]:
compare_rentals(df_may, df_june, 34)

'Customer ID not found in one or both datasets'